.headers {
    margin-bottom: 30px;
    margin-top: 10px;
}

.text-ide {
    text-align: center;
    margin: 20px;
}

.img-ide {
    margin: 50px;
}

.additions {
    font-size: smaller;
}

#header-ide {
    margin: 10px;
}



